/****************************
GENERAL
****************************/

body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/****************************
HEADING
****************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  margin: -5px 0 0;
  font-size: 0.75em;
  font-weight: normal;
}



/****************************
NAVIGATION
****************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;  
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 7px;
}

/****************************
FOOTER
****************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding: 50px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/****************************
PAGE: BRICKBREAKER
****************************/

#brickbreaker {
  display: block;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -90px;
}

#ontop {
  position: relative;
}

#onbottom {
  position: relative;
  top: 590px;
}



/****************************
PAGE: MASTERMIND
****************************/

#mastermind {
  outline-style: solid;
  outline-color: #000;
  outline-width: thin;
  display:block;
  margin-right: auto;
  margin-left: auto;
}



/****************************
PAGE: ANIMATION
****************************/

#youtube {
  display:block;
  margin-right: auto;
  margin-left: auto;
}



/****************************
PAGE: PHOTOGRAPHY
****************************/
  
.description {
  font-size: 1.25em;
  margin: 0 2.5% 2%;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #bdc3c7;
  /*color: #4D4D4D;*/
  outline-style: solid;
  outline-color: #000;
  outline-width: thin;
  text-align: center;
  font-size: 1.25em;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  color: #000;
}

#gallery li a img {
  outline-style: solid;
  outline-color: #000;
  outline-width: thin;
}

#gallery li a img:hover {
    cursor: pointer;
    transform:scale(2);
    -ms-transform:scale(2); /* IE 9 */
    -moz-transform:scale(2); /* Firefox */
    -webkit-transform:scale(2); /* Safari and Chrome */
    -o-transform:scale(2); /* Opera */
}



/****************************
PAGE: ABOUT
****************************/

.profile-photo {
  outline-style: solid;
  outline-color: #000;
  outline-width: thin;

}



/****************************
PAGE: CONTACT
****************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');  
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');  
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');  
}



/****************************
COLORS
****************************/

/* site body */
body {
  background-color: #fff;
  color: #000;
}

/* green header */
header {
  background: #0062FF;
  border-color: #0099FF;
}

/* nav background on mobile */
nav {
  background: #0099FF;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #0062FF;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #2200CC;
}